# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

課題用テンプレートです。

## prerequisites

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

/usr/local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
def query_geopandas(sql, db):
    """
    Executes a SQL query on a postGIS and returns the result as a GeoPandas GeoDataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        geopandas.GeoDataFrame: The result of the SQL query as a GeoPandas GeoDataFrame.
    """
    DATABASE_URL = 'postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)
    query_result_gdf = gpd.GeoDataFrame.from_postgis(
        sql, conn, geom_col='geom') #geom_col='way' when using osm_kanto, geom_col='geom' when using gisdb
    return query_result_gdf

## Define a sql command

In [21]:
# " "のなかにSQL文を記述
sql = "with pop2019 as \
            (select distinct(p.name), d.prefcode, d.year, d.month, d.population, p.geom \
                from pop as d \
                    inner join pop_mesh as p \
                        on p.name = d.mesh1kmid \
                    where d.dayflag='0' and \
                            d.timezone='0' and \
                            d.year='2019' and \
                            d.month='04') ,\
            pop2020 AS \
                    (SELECT mesh1kmid, population \
                        FROM pop INNER JOIN pop_mesh \
                            ON pop_mesh.name = pop.mesh1kmid \
                                WHERE dayflag='0' AND \
                                    timezone='0' AND \
                                    year='2020' AND \
                                    month='04') \
        select poly.name_2, pop2019.population as pop19, pop2020.population as pop20, (pop2019.population - pop2020.population) as dif19_20, sum(dif19_20) as sum, pop2019.month, pop2019.prefcode, poly.geom \
            from pop \
                inner join adm2 as poly \
                    on st_within(pop2019.geom, poly.geom) \
            where poly.name_1='Saitama'  \
            group by poly.name_2, pop2019.month, pop2019.prefcode, poly.geom \
            order by sum(dif19_20) desc;"

## Outputs

In [22]:
# sample_mapping_X.ipynbから適切なものを選択し使用する
def display_interactive_map(gdf):
    m = folium.Map(location=[36, 139.5], zoom_start=10)

    folium.Choropleth(
        geo_data=gdf.to_json(),
        data=gdf,
        columns=['name_2', 'sum'],
        key_on='feature.properties.name_2',
        fill_color='YlOrRd',
        fill_opacity=0.7,
        line_opacity=0.2,
        bins = [1, 10000, 100000, 300000, 500000, 700000, 1000000, 1200000]
    ).add_to(m)

    return m

In [23]:
out = query_geopandas(sql,'gisdb')
map_display = display_interactive_map(out)
print(out)
display(map_display)

ProgrammingError: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "pop2019"
LINE 1: ...oin adm2 as poly                     on st_within(pop2019.ge...
                                                             ^

[SQL: with pop2019 as             (select distinct(p.name), d.prefcode, d.year, d.month, d.population, p.geom                 from pop as d                     inner join pop_mesh as p                         on p.name = d.mesh1kmid                     where d.dayflag='0' and                             d.timezone='0' and                             d.year='2019' and                             d.month='04') ,            pop2020 AS                     (SELECT mesh1kmid, population                         FROM pop INNER JOIN pop_mesh                             ON pop_mesh.name = pop.mesh1kmid                                 WHERE dayflag='0' AND                                     timezone='0' AND                                     year='2020' AND                                     month='04')         select poly.name_2, pop2019.population as pop19, pop2020.population as pop20, (pop2019.population - pop2020.population) AS dif19_20, sum(dif19_20) as sum, pop2019.month, pop2019.prefcode, poly.geom             from pop                 inner join adm2 as poly                     on st_within(pop2019.geom, poly.geom)             where poly.name_1='Saitama'              group by poly.name_2, pop2019.month, pop2019.prefcode, poly.geom             order by sum(dif19_20) desc;]
(Background on this error at: https://sqlalche.me/e/14/f405)