# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

1都6県のそれぞれにおいて、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201901)/pop_201904)が一番小さい駅を示す（出力は県名、駅名、人口増減率とする）

## prerequisites

In [2]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

/usr/local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [8]:
# " "のなかにSQL文を記述
sql = "WITH \
        pop2020 AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2020' AND \
                d.month='04' \
        ), \
        pop2019 AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2019' AND \
                d.month='04' \
        ), \
        station AS ( \
            SELECT * \
            FROM planet_osm_point AS pt \
            WHERE pt.railway = 'station'\
        )\
    SELECT poly.name_1, station.name, (sum(pop2020.population)-sum(pop2019.population))/sum(pop2019.population) AS stapop_rate \
        FROM pop2020 \
        INNER JOIN station ON st_within(station.way,st_transform(pop2020.geom, 3857)) \
        INNER JOIN adm2 AS poly ON st_within(pop2020.geom,poly.geom)\
        INNER JOIN pop2019 ON pop2020.name = pop2019.name \
        WHERE poly.name_1='Saitama' OR poly.name_1='Tokyo' OR poly.name_1='Gunma' OR poly.name_1='Ibaraki' OR poly.name_1='Chiba' OR poly.name_1='Kanagawa' OR poly.name_1 = 'Tochigi'\
    GROUP BY poly.name_1,station.name \
    ORDER BY stapop_rate ASC limit 10;"

## Outputs

In [9]:
# sample_mapping_X.ipynbから適切なものを選択し使用する
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

    name_1               name  stapop_rate
0    Tokyo       ベイサイド・ステーション    -0.979428
1    Tokyo  ポートディスカバリー・ステーション    -0.979428
2  Tochigi        あしかがフラワーパーク    -0.918191
3  Saitama                三峰口    -0.908116
4  Tochigi                 小塙    -0.893855
5  Ibaraki               筑波山頂    -0.892368
6    Chiba                 西畑    -0.888514
7  Saitama              西武球場前    -0.872104
8    Tokyo                高尾山    -0.859801
9    Gunma                湯檜曽    -0.847619